<header class="header">
    <div class="header_container">
        <a class="header_logo-link" aria-label="TemplateMonster" href="/">
            <img class="header_logo-image" src="https://s3sf.tmimgcdn.com/af03eb7d785ce2f17c5ace599f051fce.svg"
                alt="TemplateMonster" width="39" height="30">
        </a>
        <div class="header_search-form_container">
        </div>
    </div>
    <nav class="header_sub-menu" data-menu-events="" data-menu-action="Level 1 open"><a class="header_sub-menu-link"
            href="javascript:void(0)">Website Templates</a><a class="header_sub-menu-link"
            href="javascript:void(0)">WordPress</a><a class="header_sub-menu-link"
            href="javascript:void(0)">Shopify</a><a class="header_sub-menu-link"
            href="javascript:void(0)">HTML</a><a class="header_sub-menu-link"
            href="javascript:void(0)">WooCommerce </a><a class="header_sub-menu-link"
            href="javascript:void(0)">PrestaShop</a><a class="header_sub-menu-link"
            href="javascript:void(0)">Joomla</a><a class="header_sub-menu-link" href="/product-of-the-day/"
            target="_blank">Sale</a></nav>
</header>