<footer class="footer">
    <div class="footer-navigation">
        <div class="footer-desc-container">
            <svg class="footer-desc-logo">
                <use xlink:href="assets/images/sprite-svg-5b7564d6fbcf842e63665f617180c099.svg#monsterLogoText">
                </use>
            </svg>
            <p class="footer-desc-text">
                TemplateMonster is a marketplace where you can buy everything you need to create a website.
                Hundreds of independent developers sell their products here so that you could create your own
                unique project. </p>
            <nav class="footer-social-nav"><a class="footer-social-nav-link"
                    href="https://www.instagram.com/template_monster/" rel="nofollow noopener noreferrer"
                    target="_blank"><span class="footer-social-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-609a8b11814d4.svg"></span>Instagram</a><a
                    class="footer-social-nav-link" href="https://www.facebook.com/TemplateMonster"
                    rel="nofollow noopener noreferrer" target="_blank"><span class="footer-social-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-609a8b29c8212.svg"></span>Facebook</a><a
                    class="footer-social-nav-link" href="https://www.youtube.com/user/TemplateMonsterCo"
                    rel="nofollow noopener noreferrer" target="_blank"><span class="footer-social-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-609a8b375f062.svg"></span>YouTube</a><a
                    class="footer-social-nav-link" href="https://twitter.com/templatemonster"
                    rel="nofollow noopener noreferrer" target="_blank"><span class="footer-social-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-609a8b46e2fa0.svg"></span>Twitter</a><a
                    class="footer-social-nav-link" href="https://www.pinterest.com/templatemonster/"
                    rel="nofollow noopener noreferrer" target="_blank"><span class="footer-social-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-609a8b560517d.svg"></span>Pinterest</a>
            </nav>
        </div>
        <div class="footer-nav-container">
            <nav class="footer-nav">
                <p class="footer-nav-title"><span class="footer-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/icon/1533899332"></span>Products
                </p><a class="footer-nav-link" href="/wordpress-themes.php">WordPress Themes</a><a
                    class="footer-nav-link" href="/woocommerce-themes.php">WooCommerce Themes</a><a
                    class="footer-nav-link" href="/html5-website-templates/">HTML5 Templates</a><a
                    class="footer-nav-link" href="https://www.templatemonster.com/shopify-themes.php">Shopify
                    Themes</a><a class="footer-nav-link" href="https://zemez.io/" rel="noopener noreferrer"
                    target="_blank">Zemez</a><a class="footer-nav-link" href="https://crocoblock.com/"
                    rel="noopener noreferrer" target="_blank">Crocoblock</a><a class="footer-nav-link"
                    href="https://www.motocms.com/" rel="noopener noreferrer" target="_blank">MotoCMS</a><a
                    class="footer-nav-link" href="https://weblium.com/" rel="noopener noreferrer"
                    target="_blank">Weblium</a><a class="footer-nav-link" href="https://motopress.com/"
                    rel="noopener noreferrer" target="_blank">MotoPress</a><a class="footer-nav-link"
                    href="https://monsterone.com/" rel="noopener" target="_blank">MonsterONE</a><a
                    class="footer-nav-link" href="https://novibuilder.com/" rel="noopener noreferrer"
                    target="_blank">Novi Builder</a><a class="footer-nav-link" href="https://www.webdesign.org/"
                    rel="noopener noreferrer" target="_blank">Web Design Library</a>
            </nav>
            <nav class="footer-nav">
                <p class="footer-nav-title"><span class="footer-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900027"></span>Topics</p>
                <a class="footer-nav-link" href="/category/business/">Business & Services</a><a class="footer-nav-link"
                    href="/category/fashion-beauty/">Fashion & Beauty</a><a class="footer-nav-link"
                    href="/category/home-family/">Home & Family</a><a class="footer-nav-link"
                    href="/category/design-photography/">Design & Photography</a><a class="footer-nav-link"
                    href="/category/real-estate/">Real Estate</a><a class="footer-nav-link"
                    href="/category/cars-motorcycles/">Cars & Motorcycles</a><a class="footer-nav-link"
                    href="/category/medical/">Medical</a><a class="footer-nav-link"
                    href="/category/sports-outdoors-travel/">Sports, Outdoors & Travel</a><a class="footer-nav-link"
                    href="/category/food-restaurant/">Food & Restaurant</a><a class="footer-nav-link"
                    href="/category/electronics/">Electronics</a>
            </nav>
            <nav class="footer-nav">
                <p class="footer-nav-title"><span class="footer-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900243"></span>Company
                </p><a class="footer-nav-link" href="/about.php">About Us</a><a class="footer-nav-link"
                    href="/licenses/">Licenses</a><a class="footer-nav-link" href="/blog/">Blog</a><a
                    class="footer-nav-link" href="/promocodes/">Promocodes/Coupons</a><a class="footer-nav-link"
                    href="/landings/web-hosting-small-business-ecommerce/">Best Website Hosting</a><a
                    class="footer-nav-link" href="https://affiliates.templatemonster.com/affiliates/"
                    rel="nofollow noopener noreferrer" target="_blank">Affiliate Program</a><a class="footer-nav-link"
                    href="/services/">Service Center</a><a class="footer-nav-link" href="/partners/">Partners' Coupon
                    Codes</a><a class="footer-nav-link" href="https://certification.templatemonster.com/"
                    rel="noopener noreferrer" target="_blank">Certification Center</a><a class="footer-nav-link"
                    href="/contact-us.php">Contact Us</a><a class="footer-nav-link"
                    href="https://www.templatemonster.com/gift-card/">Gift Card</a>
            </nav>
            <nav class="footer-nav">
                <p class="footer-nav-title"><span class="footer-nav-icon _ls"
                        data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900452"></span>Support
                </p><a class="footer-nav-link" href="https://helpdesk.templatemonster.com/" rel="noopener noreferrer"
                    target="_blank">Help Center</a><a class="footer-nav-link" href="/report-spam.php">Report Spam</a><a
                    class="footer-nav-link" href="https://www.templatemonster.com/sitemap/">Sitemap</a><a
                    class="footer-nav-link" href="https://www.templatemonster.com/help/">Knowledgebase</a><a
                    class="footer-nav-link" href="/marketplace/">Become an author</a>
            </nav>
        </div>
    </div>
    <div class="footer-info">
        <p class="footer-copyright">
            &copy; 2021 TemplateMonster.com owned by Theme Technologies LLC. Operated by Jetimpex Inc. All
            rights reserved. </p>
        <p class="footer-updated">
            Last time updated <time dateTime="2021-07-22T19:37:05+00:00">
                July, 22 2021 </time>
        </p>
    </div>
</footer>