<app-spinner></app-spinner>
<app-header></app-header>
<section class="content">
    <div class="sidebar" ref="sidebar">
        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="topic">
            <p class="sidebar-block-title text-uppercase">Categories</p>
            <div class="sidebar-list sidebar-list_tree">

                <a *ngFor="let item of category" class="sidebar-link sidebar-link_entity" [class.sidebar-link_entity_back]="category.length === 1" href="javascript:void(0)"
                    [attr.data-value]="item.title" [innerHTML]="item.content" (click)="convertAlias(item.title);setUrl(item.link)">
                </a>
            </div>
        </div>

        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="tags">
            <p class="sidebar-block-title text-uppercase">Tags</p>
            <div class="sidebar-list sidebar-list_multiselect">
                <a *ngFor="let item of tags" [class]="checkTagsSelected(item.title) ? classActive : ''" class="sidebar-link sidebar-link_filter " href="javascript:void(0)"
                [attr.data-value]="item.title" [innerHTML]="item.content" (click)="setUrl(item.link);addValueToSelected('tags', item.title)"></a>
            </div>
        </div>
        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="color">
            <p class="sidebar-block-title text-uppercase">Color</p>
            <div class="sidebar-list sidebar-list_multiselect">
                <a *ngFor="let item of color" [class]="checkColorSelected(item.title) ? classActive : ''" class="sidebar-link sidebar-link_filter " href="javascript:void(0)"
                [attr.data-value]="item.title" [innerHTML]="renderColor(item.content)" (click)="setUrl(item.link);addValueToSelected('color', item.title)"></a>
            </div>
        </div>
        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="features">
            <p class="sidebar-block-title text-uppercase">Features</p>
            <div class="sidebar-list sidebar-list_multiselect">
                <a *ngFor="let item of features" [class]="checkFeaturesSelected(item.title) ? classActive : ''" class="sidebar-link sidebar-link_filter " href="javascript:void(0)"
                [attr.data-value]="item.title" [innerHTML]="item.content" (click)="setUrl(item.link);addValueToSelected('features', item.title)"></a>
            </div>
        </div>
        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="styles">
            <p class="sidebar-block-title text-uppercase">Styles</p>
            <div class="sidebar-list sidebar-list_multiselect">
                <a *ngFor="let item of styles" [class]="checkStylesSelected(item.title) ? classActive : ''" class="sidebar-link sidebar-link_filter " href="javascript:void(0)"
                [attr.data-value]="item.title" [innerHTML]="item.content" (click)="setUrl(item.link);addValueToSelected('styles', item.title)"></a>
            </div>
        </div>
        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="rating">
            <p class="sidebar-block-title text-uppercase">Rating</p>
            <div class="sidebar-list sidebar-list_select">
                <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?rating=5" data-value="5"> <span
                        class="rating filter-rating">
                        <span class="rating-stars filter-rating-stars "></span>
                    </span>
                    & Up </a> <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?rating=4" data-value="4"> <span
                        class="rating filter-rating">
                        <span class="rating-stars filter-rating-stars rating-stars_4"></span>
                    </span>
                    & Up </a> <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?rating=3" data-value="3"> <span
                        class="rating filter-rating">
                        <span class="rating-stars filter-rating-stars rating-stars_3"></span>
                    </span>
                    & Up </a> <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?rating=2" data-value="2"> <span
                        class="rating filter-rating">
                        <span class="rating-stars filter-rating-stars rating-stars_2"></span>
                    </span>
                    & Up </a> <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?rating=1" data-value="1"> <span
                        class="rating filter-rating">
                        <span class="rating-stars filter-rating-stars rating-stars_1"></span>
                    </span>
                    & Up </a>
            </div>
        </div>

        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="price">
            <p class="sidebar-block-title text-uppercase">Price</p>
            <form class="filter-form" action="https://www.templatemonster.com/html5-website-templates/" method="GET">
                <div class="filter-form-input-wrapper">
                    <input type="number" class="input filter-form-input" name="price-from" value="19" min="19" max="175"
                        area-label="Price from">
                </div>
                <span class="filter-form-dash"></span>
                <div class="filter-form-input-wrapper">
                    <input type="number" class="input filter-form-input" name="price-to" value="175" max="175" min="19"
                        area-label="Price to">
                </div>
                <button type="submit" class="btn btn_5 filter-form-submit text-uppercase">Ok</button>
            </form>
        </div>
        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="lastupdated">
            <p class="sidebar-block-title text-uppercase">Last time updated</p>
            <div class="sidebar-list sidebar-list_select">
                <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?lastupdated=2021-07-22"
                    data-value="Last Day"> Last Day </a> <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?lastupdated=2021-07-16"
                    data-value="Last Week"> Last Week </a> <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?lastupdated=2021-06-23"
                    data-value="Last Month"> Last Month </a> <a class="sidebar-link sidebar-link_filter "
                    href="https://www.templatemonster.com/html-templates.php?lastupdated=2020-07-23"
                    data-value="Last Year"> Last Year </a>
            </div>
        </div>
        <div class="sidebar-block" data-sidebar-block="true" data-filter-interaction data-filter="downloads">
            <p class="sidebar-block-title text-uppercase">Number of downloads</p>
            <form class="filter-form" action="https://www.templatemonster.com/html5-website-templates/" method="GET">
                <div class="filter-form-input-wrapper">
                    <input type="number" class="input filter-form-input" name="downloads-from" value="0" min="0"
                        max="4164" area-label="Number of downloads from">
                </div>
                <span class="filter-form-dash"></span>
                <div class="filter-form-input-wrapper">
                    <input type="number" class="input filter-form-input" name="downloads-to" value="4164" max="4164"
                        min="0" area-label="Number of downloads to">
                </div>
                <button type="submit" class="btn btn_5 filter-form-submit text-uppercase">Ok</button>
            </form>
        </div>
    </div>
    <main class="main-content products-content">
        <div class="products-filters side-indent products-filters_horizontal">
            <div class="products-filters-mobile">
                <button type="button" (click)="showMobileCategory()" class="products-filters-btn products-filters-btn_open-filters text-uppercase"
                    data-toggle-ref='{"ref":"sidebar","overlay":"true"}'>
                    Filters </button>
            </div>
        </div>
        <router-outlet></router-outlet>
    </main>
</section>
<app-footer></app-footer>